.settingsContainer {
  height: 1400px;
  text-align: left; }

.pageTitle {
  line-height: 48px; }

.settingsTitle {
  padding-top: 16px;
  padding-left: 16px; }

.datePicker {
  padding-left: 16px; }
