@media only screen and (min-width: 1200px) {
  .circleContainer {
    position: fixed;
    display: flex;
    height: calc(100% - 48px * 2);
    margin-left: 250px;
    padding: 0 50px; } }

.circle {
  display: block;
  width: 60vw;
  height: 60vw;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.25); }
  @media only screen and (min-width: 1200px) {
    .circle {
      width: 20vw;
      height: 20vw;
      margin: auto 0; } }
