.statusBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 50px 0; }
  .statusBar h1 {
    margin: 0;
    line-height: 50px; }
  .statusBar h3 {
    margin: 0; }
  .statusBar .statusItem {
    width: 45%; }
    @media only screen and (min-width: 1200px) {
      .statusBar .statusItem {
        width: 30%; } }

.infoBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 75px 0; }
  .infoBar h1 {
    margin: 0;
    line-height: 35px; }
  .infoBar p {
    margin: 10px 0; }
  .infoBar [class*='infoItem'] {
    position: relative;
    width: calc(100% / 3); }
    @media only screen and (min-width: 1200px) {
      .infoBar [class*='infoItem'] {
        width: 30%; } }
  .infoBar .infoItem2:before {
    content: '';
    position: absolute;
    top: 15px;
    bottom: 30px;
    left: 0;
    border-left: 1px solid lightgray; }
  .infoBar .infoItem2:after {
    content: '';
    position: absolute;
    top: 15px;
    bottom: 30px;
    right: 0;
    border-left: 1px solid lightgray; }
