/* NOTIFICATION CARD */
.notificationCardAnimation-enter {
	opacity: 0.01;
	height:0;
}

.notificationCardAnimation-enter.notificationCardAnimation-enter-active {
	opacity: 1;
	transition: 300ms;
}

.notificationCardAnimation-leave {
	opacity: 1;
	transition: opacity 300ms ease, all 350ms ease;
}

.notificationCardAnimation-leave.notificationCardAnimation-leave-active {
	opacity: 0.01;
	transition: 300ms;
	transform: translateX(500px);
	height: 0 !important;
	margin-bottom: 0;
}

.notificationCardAnimation-appear {
	opacity: 0.01;
	transform: translateY(50px);
}

.notificationCardAnimation-appear.notificationCardAnimation-appear-active {
	opacity: 1;
	transform: translateY(0);
	transition: all 300ms ease-out;
}


/* ADVICE CARD */
.adviceCardAnimation-leave {
	opacity: 1;
	transition: opacity 300ms ease, all 350ms ease;
}

.adviceCardAnimation-leave.adviceCardAnimation-leave-active {
	opacity: 0.01;
	transition: 300ms;
	transform: translateX(500px);
}

.adviceCardAnimation-appear {
	opacity: 0.01;
	transform: translateY(50px);
}

.adviceCardAnimation-appear.adviceCardAnimation-appear-active {
	opacity: 1;
	transform: translateY(0);
	transition: all 300ms ease-out;
}


/* MESSAGE */
.messageAnimation-enter {
	height:0;
	margin:20px 0;
	margin-right:-20px;
	margin-top:0;
}

.messageAnimation-enter.messageAnimation-enter-active {
	transition: 500ms;
	margin:20px 0;
	margin-right:-20px;
	margin-top:20px;
}

.messageAnimation-appear {
	transform: translateY(50px);
}

.messageAnimation-appear.messageAnimation-appear-active {
	transform: translateY(0);
	transition: all 400ms ease-out;
}
