.cardAnimation-enter {
	opacity: 0.01;
	height:0;
}

.cardAnimation-enter.cardAnimation-enter-active {
	opacity: 1;
	transition: 300ms;
}

.cardAnimation-leave {
	opacity: 1;
	transition: opacity 300ms ease, translateX 350ms ease;
}

.cardAnimation-leave.cardAnimation-leave-active {
	opacity: 0.01;
	transition: 300ms;
	transform: translateX(500px);
}

.cardAnimation-appear {
	opacity: 0.01;
	transform: translateY(50px);
}

.cardAnimation-appear.cardAnimation-appear-active {
	opacity: 1;
	transform: translateY(0);
	transition: all 300ms ease-out;
}
