body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.pageContainer { // TODO: move pageContainer to component
  width: 100%;
  padding-bottom: 75px;
}

.tabIndicator {
  top: 0;
  bottom: auto;
}

.panelView {
  display: inline;

  @media only screen and (min-width: 1200px) {
    position: absolute;
    width: 30vw;
    margin-top: 50px;
    //margin-left: 15px;
  }
}
