body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.pageContainer {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
  //background-color: firebrick;
}

.tabIndicator {
  top: 0;
  bottom: auto;
}

.panelView {
  display: inline;

  @media only screen and (min-width: 1200px) {
    position: absolute;
    width: 30vw;
    margin-top: 50px;
    margin-left: 25px; //-50px; // TODO: fix this another way
  }
}
